## Assignment 2:

Q1. Write a program to accept percentage from the user and display the grade according to the following

marks                        grade

>90                            A
>80 and <=90                   B
>=60 and <=80                  C
below 60                       D

In [1]:
## answer of 1:

a = int(input("Enter percentage : "))

if (a>90):
    print("A grade")
elif(a>80 and a<=90):
    print("B grade")
elif(a>60 and a<=80):
    print("C grade")
else:
    print("D grade")

Enter percentage :  33

D grade

Q2. Write a programme to accept of the cost price of a bike and display the road tax to be paid according to the following criteria:

Tax         Cost Price

15%          >100000
10%          >50000 and <=100000
5%           <=50000

In [4]:
## answer 2.

a = float(input("Enter cost price of a bike : "))

if (a>100000):
    tax=a*0.15
    print("Total tax of bike = ",tax)
elif(a>50000 and a<=100000):
    tax=a*0.10
    print("Total tax of bike = ",tax)
elif(a<=50000):
    tax=a*0.05
    print("Total tax of bike = ",tax)

Enter cost price of a bike :  48000

Total tax of bike =  2400.0

Q3. Accept any city from the user and display monument of that city:

City         Monument

Delhi        Red Fort   
Agra         Taj Mahal 
Jaipur       Jal Mahal

In [5]:
## answer 3

a = (input("Enter city  : "))

if (a=="Delhi"):
    print("Monument is Red Fort")
elif (a=="Agra"):
    print("Monument is Taj Mahal")
elif (a=="Jaipur"):
    print("Monument is Jal Mahal ")
else:
    print ("invalid choice")

Enter city  :  Surat

invalid choice

Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [5]:
## Answer 4:

count = 0
number = 180
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total ', count)

Total  3

Q5. why and when to use while loop in python give a detailed description with example.

Q6. Use nested while loop to print 3 different pattern.

In [2]:
## answer 6

## 1st pattern of"right angle triangle of * "

i=1
while i<=5:
    j=1
    while j<=i:
        print(end=" *")
        j=j+1
    print("")
    i=i+1

 *
 * *
 * * *
 * * * *
 * * * * *

In [3]:
## 2st pattern of" * in square format"

i=1
while i<=5:
    j=0
    while j<5:
        print(end=" *")
        j=j+1
    print("")    
    i=i+1

 * * * * *
 * * * * *
 * * * * *
 * * * * *
 * * * * *

In [4]:
## 3rd pattern of "numbers in right angle triangle"

n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  5

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

Q7. Reverse a while loop to display numbers from 10 to 1.

In [7]:
## answer 7

num=10

while (num>0):
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1

Q8. Reverse a while loop to display numbers from 10 to 1.

In [8]:
## answer 8

num=10

while (num>0):
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1