## ASSIGNMENT(25/FEB/23) PANDAS ADV.2

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
## answer 1:

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
## answer 2:

=> The main difference between loc and iloc is that loc is label-based (you need to specify the row and column labels) while iloc is 
integer-position based (you need to specify the row and column by the integer position values, which start with 0)

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].


Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [6]:
new_df = df1.reindex([3,0,1,2])

In [7]:
new_df.loc[2]

column_1    0.283945
column_2    0.671282
column_3    0.220338
column_4    0.999721
column_5    0.694775
column_6    0.252382
Name: 2, dtype: float64

In [8]:
new_df.iloc[2]

column_1    0.731028
column_2    0.713415
column_3    0.496792
column_4    0.897545
column_5    0.061087
column_6    0.917797
Name: 1, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [11]:
## answer 4:

df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.394890  0.511126  0.527901  0.735642  0.344429  0.585901
std    0.290118  0.276431  0.264509  0.234790  0.263787  0.317055
min    0.040627  0.037722  0.220338  0.449795  0.061087  0.157893
25%    0.214454  0.394615  0.327408  0.525634  0.115611  0.341201
50%    0.326893  0.663955  0.541106  0.805365  0.328221  0.656345
75%    0.640732  0.678143  0.637807  0.892252  0.539203  0.832240
max    0.752607  0.713415  0.938638  0.999721  0.694775  0.917797

In [13]:
st = df1['column_2'].std()
st

0.2764311347061093

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.

If you are getting errors in executing it then explain why

In [38]:
## answer 5:

df1.loc[1, 'column_2'] = 0.238985

In [ ]:
df1['column_2'].mean()

In [ ]:
It has raised an error because we cannot Merge a string and floating point number.

Q6. What do you understand about the windows function in pandas and list the types of windows 
functions?

In [ ]:
## answer 6:

=> Windowing operations are very frequent operations in statistical calculations and data analysis. Python Pandas library provides different windowing functions that make complicated windowing operations simpler and easier.

types:
-Rolling window
-Weighted window
-Expanding window
-Exponentially Weighted

Q7. Write a code to print only the current month and year at the time of answering this question.

In [54]:
## answer 7:

import datetime
print(datetime.datetime.now().strftime("%B %Y"))

May 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result.

In [68]:
## answer 8:

one = input("Enter date : ")
two = input("Enter date : ")

one = pd.to_datetime(one)
two = pd.to_datetime(two)

time_diff = two - one

days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

print("The difference between", one.date(), "and", two.date(), "is:")
print("- {} days".format(days))
print("- {} hours".format(hours))
print("- {} minutes".format(minutes))

Enter date :  20230101
Enter date :  20230501

The difference between 2023-01-01 and 2023-05-01 is:
- 120 days
- 0 hours
- 0 minutes