## Assignment(17/FEB/2023)

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

In [2]:
##Answer 1:

# Mongodb is a Non-relational database.
# Non relational database:
    #There have dynamic structure
    #They follow CAP property (consistency, avaliability, partition)
    #This database have a hirerachial data storage
    #It is Horizontal scalable
    #No predefined schema 
    #Its best suited for complex queries
# While MongoDB supports JSON querying, a SQL Database uses SQL query processing. The basic characteristics make MongoDB a more dynamic
# and complex option that is fit for hierarchical data while a SQL Database remains more predefined and suited for other kinds of data storage.

Q2. State and Explain the features of MongoDB.

In [3]:
## Answer 2:

## Mongodb is a document based database , where a data is stored in json or dictonary format. Its non-sturcuted database
#MongoDB is a non-relational document database that supports JSON-like storage and is designed to be used with web applications.
#The MongoDB database has a flexible data model that allows you to store unstructured data. 
#It also has full indexing and replication support, as well as a rich and intuitive API that makes it easy to use.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [4]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 16.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.jhiyzk2.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
db=client['pwskills']     #create database

In [7]:
coll_create=db['docu']        #create collection to store documents

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
## answer 4:
data1={"name":"data science",
      "batch":"impact",
      "Number":1,
      "mentor":["Sudhanshu","krish"]}

In [9]:
coll_create.insert_one(data1)

In [10]:
data2={"dict1":{"Class1":"1",
        "Div1":"A"},
       "dict2":{"Class2":"2",
       "Div2":"B"}}

In [11]:
coll_create.insert_one(data2)

In [12]:
data3=[{"name":"amy"},
       {"name":"HK"},
      {"name":"KL"},
      {"name":"MN"}]

In [13]:
coll_create.insert_many(data3)

In [14]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f6089cf9bc70427139d69a'), 'name': 'data science', 'batch': 'impact', 'Number': 1, 'mentor': ['Sudhanshu', 'krish']}
{'_id': ObjectId('63f60a4af9bc70427139d69b'), 'dict1': {'Class1': '1', 'Div1': 'A'}, 'dict2': {'Class2': '2', 'Div2': 'B'}}
{'_id': ObjectId('63f60a72f9bc70427139d69c'), 'name': 'amy'}
{'_id': ObjectId('63f60a72f9bc70427139d69d'), 'name': 'HK'}
{'_id': ObjectId('63f60a72f9bc70427139d69e'), 'name': 'KL'}
{'_id': ObjectId('63f60a72f9bc70427139d69f'), 'name': 'MN'}
{'_id': ObjectId('63f60d46f9bc70427139d6a0'), 'id': 1, 'name': 'Rohan'}
{'_id': ObjectId('63f60d50f9bc70427139d6a1'), 'id': 2, 'name': 'Sohan'}
{'_id': ObjectId('63f60d5af9bc70427139d6a2'), 'id': 2, 'name': 'Sohan'}
{'_id': ObjectId('642411b8e35b2852a76a9bf6'), 'name': 'data science', 'batch': 'impact', 'Number': 1, 'mentor': ['Sudhanshu', 'krish']}
{'_id': ObjectId('642411c9e35b2852a76a9bf7'), 'dict1': {'Class1': '1', 'Div1': 'A'}, 'dict2': {'Class2': '2', 'Div2': 'B'}}
{'_id': ObjectId('642411e5e35b2852a76a9bf8'), 'name': 'amy'}
{'_id': ObjectId('642411e5e35b2852a76a9bf9'), 'name': 'HK'}
{'_id': ObjectId('642411e5e35b2852a76a9bfa'), 'name': 'KL'}
{'_id': ObjectId('642411e5e35b2852a76a9bfb'), 'name': 'MN'}

In [15]:
coll_create.find_one()

{'_id': ObjectId('63f6089cf9bc70427139d69a'),
 'name': 'data science',
 'batch': 'impact',
 'Number': 1,
 'mentor': ['Sudhanshu', 'krish']}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [16]:
## answer 5:

# find() method is used to get the records inserted into the mongodb database.
# find() method returns entire records inserted quering with for loop 
# find.one() is used to get the very first row inserted

In [17]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f6089cf9bc70427139d69a'), 'name': 'data science', 'batch': 'impact', 'Number': 1, 'mentor': ['Sudhanshu', 'krish']}
{'_id': ObjectId('63f60a4af9bc70427139d69b'), 'dict1': {'Class1': '1', 'Div1': 'A'}, 'dict2': {'Class2': '2', 'Div2': 'B'}}
{'_id': ObjectId('63f60a72f9bc70427139d69c'), 'name': 'amy'}
{'_id': ObjectId('63f60a72f9bc70427139d69d'), 'name': 'HK'}
{'_id': ObjectId('63f60a72f9bc70427139d69e'), 'name': 'KL'}
{'_id': ObjectId('63f60a72f9bc70427139d69f'), 'name': 'MN'}
{'_id': ObjectId('63f60d46f9bc70427139d6a0'), 'id': 1, 'name': 'Rohan'}
{'_id': ObjectId('63f60d50f9bc70427139d6a1'), 'id': 2, 'name': 'Sohan'}
{'_id': ObjectId('63f60d5af9bc70427139d6a2'), 'id': 2, 'name': 'Sohan'}
{'_id': ObjectId('642411b8e35b2852a76a9bf6'), 'name': 'data science', 'batch': 'impact', 'Number': 1, 'mentor': ['Sudhanshu', 'krish']}
{'_id': ObjectId('642411c9e35b2852a76a9bf7'), 'dict1': {'Class1': '1', 'Div1': 'A'}, 'dict2': {'Class2': '2', 'Div2': 'B'}}
{'_id': ObjectId('642411e5e35b2852a76a9bf8'), 'name': 'amy'}
{'_id': ObjectId('642411e5e35b2852a76a9bf9'), 'name': 'HK'}
{'_id': ObjectId('642411e5e35b2852a76a9bfa'), 'name': 'KL'}
{'_id': ObjectId('642411e5e35b2852a76a9bfb'), 'name': 'MN'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [18]:
## answer 6:

#The sort() method specifies the order in which the query returns the matching documents from the given collection. 
#You must apply this method to the cursor before retrieving any documents from the database. 
#It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set.
#The value is 1 or -1 specify an ascending or descending sort respectively.

#If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort. 
#If a sort returns a different result every time we perform on same data, then such type of sort is known as unstable sort.
#MongoDB generally performs a stable sort unless sorting on a field that holds duplicate values.  
#We can use limit() method with sort() method, it will return first m documents, where m is the given limit.
#MongoDB can find the result of the sort operation using indexes.
#If MongoDB does not find sort order using index scanning, then it uses top-k sort algorithm

In [30]:
collec1=db['students']

In [31]:
s1={"id":1,
   "name":"Rohan"}

In [ ]:
collect1.insert_one(s1)

In [33]:
s4={"id":4,
   "name":"Mohan"}

In [ ]:
collect1.insert_one(s4)

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [35]:
## answer 7:

# delete_one() is used to delete the records from document 
# delete_many() is used to delete many records from documnet 
#drop() is method is used to drop the collections

In [ ]:
collect1.delete_one({"name":"Rohan"})

In [ ]:
collect1.delete_many({"name":"Sohan"})

In [ ]:
collect1.drop()

In [ ]:
for i in collect1.find():
    print(i)