## Assignment(24/FEB/2023) PANDAS ADVANCE-1

Q1. List any five functions of the pandas library with execution.

In [ ]:
## Answer 1:

1. pd.DataFrame()
Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes

2. pd.Series()
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 

3. pd.concat()
pandas. concat() function does all the heavy lifting of performing concatenation operations along with an axis od Pandas objects while 
performing optional set logic (union or intersection) of the indexes (if any) on the other axes.

4. pd.unique()
The unique() function is used to get unique values of the Series object. Uniques are returned in order of appearance. Hash table-based 
unique, therefore does NOT sort.

5. pd.Categorical()
Categorical(val, categories = None, ordered = None, dtype = None) : It represents a categorical variable.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [13]:
## answer 2:

import pandas as pd

df = pd.DataFrame({'A': [10, 20, 30, 40], 'B': [1, 2, 3, 4], 'C': ['foo', 'bar', 'baz', 'qux']})

In [18]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=2*len(df)+1)
    df = df.reset_index(drop=True)
    df.index = new_index
    return df

In [19]:
reindex_dataframe(df)

    A  B    C
1  10  1  foo
3  20  2  bar
5  30  3  baz
7  40  4  qux

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console.

In [30]:
## answer 3:

df = pd.DataFrame({'Values':[10,20,30,40,50,60]})

def sum_of_three(df):
    total = df['Values'][0] + df['Values'][1] + df['Values'][2]
    return total

In [31]:
sum_of_three(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [32]:
## answer 4:

data = pd.DataFrame({'text':['neel','raviraj','sudhanshu']})

In [80]:
for i in data:
    data['word_count'] = data['text'].apply(lambda x: len(x))
    
data

        text  word_count
0       neel           4
1    raviraj           7
2  sudhanshu           9

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
## answer 5:

=> DataFrame.size() returns the total number of elements in the DataFrame, which is equivalent to the number of rows multiplied by the number
of columns. This method returns a single integer value.

=> On the other hand, DataFrame.shape() returns a tuple that contains the number of rows and columns in the DataFrame, respectively.
For example, if a DataFrame has 3 rows and 4 columns, DataFrame.shape() would return (3, 4). The first element of the tuple is the
number of rows, and the second element is the number of columns.

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
## answer 6:

=> to read an excel file in panda we use -> pd.read_excel('').

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the 
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your 
function should extract the username from each email address and store it in the new 'Username' 
column

In [59]:
## answer 7:

df = pd.DataFrame({'Email':['john.doe@example.com',
                            'neeljaviya20@gmail.com',
                            'Amitpatel@yahoo.com']})

In [79]:
for i in df:
    df['Username'] = df['Email'].apply(lambda x : x.split('@')[0] )
    
df

                    Email      Username
0    john.doe@example.com      john.doe
1  neeljaviya20@gmail.com  neeljaviya20
2     Amitpatel@yahoo.com     Amitpatel

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

In [103]:
new = pd.DataFrame({'A':[3,8,6,2,9],
                     'B':[5,2,9,3,1],
                     'C':[1,7,4,5,2]})

def select_rows(x):
    main = x[(x['A'] > 5 ) & (x['B'] < 10 )]
    return main

select_rows(new)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column.

In [110]:
## answer 9:

import numpy as np

stat = pd.DataFrame({'Values':[1,2,5,6,8,94,13]})

mean = np.mean(stat['Values'])
median = np.median(stat['Values'])
std = np.std(stat['Values'])

print(mean)
print(median)
print(std)

18.428571428571427
6.0
31.07068964638604

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
should include the current day.

In [115]:
## answer 10:

import pandas as pd

def moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df



dates = pd.date_range('20220101', periods=14)
data = {'Date': dates,
        'Sales': [10, 12, 8, 9, 15, 16, 20, 18, 22, 25, 23, 28, 30, 32]}
df = pd.DataFrame(data)

df = moving_average(df)

df

         Date  Sales  MovingAverage
0  2022-01-01     10      10.000000
1  2022-01-02     12      11.000000
2  2022-01-03      8      10.000000
3  2022-01-04      9       9.750000
4  2022-01-05     15      10.800000
5  2022-01-06     16      11.666667
6  2022-01-07     20      12.857143
7  2022-01-08     18      14.000000
8  2022-01-09     22      15.428571
9  2022-01-10     25      17.857143
10 2022-01-11     23      19.857143
11 2022-01-12     28      21.714286
12 2022-01-13     30      23.714286
13 2022-01-14     32      25.428571

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [123]:
## answer 11:

import pandas as pd

def add_weekday_column(df, date_column_name='Date', weekday_column_name='Weekday'):
    """
    Adds a new column 'Weekday' to the Pandas DataFrame `df`.
    The 'Weekday' column contains the weekday name corresponding to each date in the 'Date' column.
    """
    df[weekday_column_name] = pd.to_datetime(df[date_column_name]).dt.day_name()
    return df

In [124]:
df = pd.DataFrame({'Date': ['2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06']})
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

         Date    Weekday
0  2022-05-02     Monday
1  2022-05-03    Tuesday
2  2022-05-04  Wednesday
3  2022-05-05   Thursday
4  2022-05-06     Friday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [125]:
## answer 12:

import pandas as pd

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    
    filtered_df = df.loc[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return filtered_df

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported

In [ ]:
## answer 13:

To use the basic functions of pandas we need to import numpy and Pandas Library.