## Assignment(04/FEB/2023)

Q1. Create a python program to sort the given list of tuples based on integer value using a 
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
## answer 1:

pairs = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
pairs.sort(key=lambda pair: pair[1])
pairs

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
## answer 2:

numbers = (1,2,3,4,5,6,7,8,9,10)

squares = tuple(map(lambda x:x**2,numbers))

In [31]:
print(squares)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
## answer 3:

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(map(lambda x: str(x) ,lst))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.  Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25.

In [26]:
## Answer 4:

from functools import reduce
reduce(lambda x,y : x*y, range(1,26))

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [29]:
## answer 5

lst2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x :x if x%2==0 and x%3==0 else "", lst2))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter 
function.


['python', 'php', 'aba', 'radar', 'level']

In [34]:
## answer 6

string = ['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x : x if x==x[::-1] else "" , string))

['php', 'aba', 'radar', 'level']